*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: black;
    color: white;
    background-color: #DFDBE5;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%23d2d415' fill-opacity='0.59'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); 
font-size: 16px;  
}

a{
    color: rgb(19, 16, 16);
    text-decoration: none;
}

ul{
    list-style: none;
}
.container {
    width: 90%;
    margin: auto;
}

/*NAVEGACION*/

.nav-main{
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    height: 60px;
    padding: 20px 0;   
}

.nav-brand{
    width: 100px;
}
/*NAVEGACION EXTERNA*/

.nav-main ul {
    display: flex;
}

.nav-main ul li {
    padding: 25px;
}

.nav-main ul li a{
    padding: 7px;
}

.nav-main ul li a:hover{
    border-bottom: 6px solid rgb(240, 53, 6);
}

.nav-main ul.nav-menu{
    flex: 1;
    margin-left: 20px;
}

.menu-btn{
    position: absolute;
    cursor:pointer;
    top: 15px;
    right: 30px;
    color: black;
    z-index: 2;
    font-size: 1.3rem;
    display: none;
}




/*SHOWCASE*/

hr{
    margin: 10px 0;
}

.subtitulo{
    color: black;
    font-size: 20px;
}

.showcase{
    width: 100%;
    color: black;
    height: 450px;
    background: url("./img/SHOWCASE.jpg")no-repeat center center/cover;
    padding-bottom: 30%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: orange;
    color: black;
    font-size: 15px;
    border:1px solid black ;
    margin: 10px 0; 
}


.btn:hover{
    opacity: .6;
}

.showcase h2, 
.showcase p {
    margin-bottom: 10px;
}

/*CATALOGO*/

.news-cards{
    display: grid;
    grid-template-columns:repeat(4,1fr) ;
    gap:25px;
    margin: 10px 0;
}

.news-cards img{
    width: 80%;
    height: 180px; 
}

.news-cards h4{
    font-size: 20px;
    margin: 10px 0;
    color: rgb(243, 13, 13);
}

.news-cards a{
    padding: 10px 0;
    color: rgb(245, 122, 8);
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
}

.news-cards p{
    color: black;
}

.news-cards a:hover{
    text-decoration: underline;
}


/*BANNER*/

.banner {
    width: 100%;
    height: 350px;
    background: url(./img/SHOWCASE.jpg)no-repeat center center/cover;
    margin-bottom: 40px;
}

.banner .content{
    color: black;
    width: 40%;
    padding: 90px 0 0 30px;
}

.banner p,
.banner h2{
    margin: 10px 0 20px 0;
}
/*BANNER DOS*/
.banner-dos{
    width: 100%;
    height: 350px;
    background: url(./img/SHOWCASE.jpg)no-repeat center center/cover;
}

.banner-dos .contaer{
    color: black;
    width: 40%;
    padding: 90px 0 0 30px;
}

/* SOCIAL */

.social{
    color: black;
    margin: 45px;
}

.social p{
    text-align: center;
    font-size: 15px;
    margin-bottom: 20px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
}
.links a{
    margin: 0 30px;
}
.links a i {
    font-size: 3rem;
}

/* FOOTER LINKS*/

.footer-link{
    background: white;
    color: red;
    font-size: 12px;
    padding: 35px 0;
}

.footer-container{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
}

.footer-container ul{
    margin: 0 auto;
}

.footer-container ul li{
    line-height: 2.8;
}

.footer {
    background: orangered;
    color: black;
    font-size: 12px;
    padding: 20px 0; 
    text-align: center;
    padding-bottom: 20px; 
}

@media(max-width: 700px){

    .menu-btn{
        display: block;
    }


    .nav-main ul.nav-menu{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: rgb(252, 188, 71);
        height: 100%;
        padding: 30px;
        opacity: .9;
        transform: translateX(-400px);
        transition: transform .5s ease-in-out;
    }


    .nav-main ul.nav-menu.show{
        transform: translateX(-20px);
    }


    .nav-main ul.nav-menu li{
        padding: 20px;
        border-bottom: red solid 1px;
        font-size: 14px;
    }

    .nav-main ul.nav-menu.right{
        margin-right: 60px;
    }


    .news-cards{
        grid-template-columns: repeat(2,1fr);
    }
    .banner .content,
    .banner-dos .content{ 
        width: 80%;
    }
    .footer-link .footer-container{
    grid-template-columns: repeat(2,1fr);
    }
}


@media(max-width: 500px){
    .news-cards{
        grid-template-columns: 1fr;
    }

    .news-cards img{
        height: 270px;
    }

    .banner .content,
    .banner-dos .content{
        width: 100%;
        padding: 60px 20px;
    }

    .footer-link .footer-container{
        grid-template-columns: 1fr;
    }

}